.piano-roll-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
    height: 100%;
    width: 100%;
    gap: 1%;
}

.drum-pad-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    height: 100%;
    width: 100%;
    gap: 1%;
}

.note {
    border-style: solid;
    text-align: center;
    width: 100%;
    height: 100%;
    border-style: solid;
}

.note:active {
    background-color: lightcoral;
}

.highlight-when-pressed {
    background-color: lightcoral;
}

.drum-pad-element{
    width: 150px;
    height: 150px;
    border-radius: 10%;
    background-color: beige;
    border-style: solid;
}

.drum-pad-element:active{
    background-color: lightcoral;

}