/* .piano-roll-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
    height: 100%;
    width: 100%;
    gap: 1%;
} */
html, body{
    margin: 0;
    padding: 0;
}
.big-box {
    width: 100vw;
    height: 100vh;
}

.drum-pad-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    height: 100%;
    width: 100%;
    gap: 1%;
}

.piano-keys-container {
    display: grid;
    grid-template-rows: auto auto;
    height: 100%;
    width: 100%;
    gap: 1%;
}

.piano-keys-row-white{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    height: 100%;
    width: 100%;
    gap: 0%;
}

.piano-keys-row-black {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    height: 80%;
    width: 100%;
    gap: 0%;
}



.piano-key-white {
    border-style: solid;
    text-align: center;
    width: 70%;
    height: 100%;
    border-style: solid;
    margin: 0;
}

.piano-key-black {
    position: relative;
    left: 30%;
    color: white;
    background-color: black;
    border-style: solid;
    text-align: center;
    width: 30%;
    height: 100%;
    border-style: solid;
    margin:0;
}

.piano-key-white:active {
    background-color: lightcoral;
}


.piano-key-black:active {
    background-color: lightcoral;
}

.note {
    border-style: solid;
    text-align: center;
    width: 100%;
    height: 100%;
    border-style: solid;
}

.note:active {
    background-color: lightcoral;
}

.highlight-when-pressed {
    background-color: lightcoral;
}

.drum-pad-element{
    width: 150px;
    height: 150px;
    border-radius: 10%;
    background-color: beige;
    border-style: solid;
}

.drum-pad-element:active{
    background-color: lightcoral;

}