/* .piano-roll-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
    height: 100%;
    width: 100%;
    gap: 1%;
} */
html, body{
    margin: 0;
    padding: 0;
}
.big-box {
    width: 100vw;
    height: 100vh;
}

.drum-pad-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    height: 100%;
    width: 100%;
    gap: 1%;
}

.piano-keys-container {
    display: grid;
    grid-template-rows: auto auto;
    height: 100%;
    width: 100%;
    gap: 1%;
    row-gap: 0;
}

.piano-keys-row-white{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    height: 100%;
    width: 100%;
    gap: 0%;
    margin-top: 0;
    padding-top: 0;
}

.piano-keys-row-black {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    height: 100%;
    width: 100%;
    gap: 0%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.piano-key-white {
    border-style: solid;
    text-align: center;
    width: 70%;
    height: 100%;
    margin: 0;
}

.piano-key-black {
    position: relative;
    left: 30%;
    color: white;
    background-color: black;
    border-style: solid;
    text-align: center;
    width: 30%;
    height: 100%;
    margin:0;
}

.piano-key-white:active {
    background-color: lightcoral;
}


.piano-key-black:active {
    background-color: lightcoral;
}

.note {
    border-style: solid;
    text-align: center;
    width: 100%;
    height: 100%;
    border-style: solid;
}

.note:active {
    background-color: lightcoral;
}

.highlight-when-pressed {
    background-color: lightcoral;
}

.drum-pad-element{
    width: 150px;
    height: 150px;
    border-radius: 10%;
    background-color: beige;
    border-style: solid;
}

.drum-pad-element:active{
    background-color: lightcoral;

}

.select-octave-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    gap: 0%
}

.select-octave {
    background-color: aqua;
    text-align: center;
    width: 50%;
    height: auto;
    margin: 0%;
    padding: 0%;
    border-style: solid;
    border-color: black;
}

.octave-label {
    background-color: aqua;
    text-align: center;
    width: 40%;
    height: auto;
    margin: 0%;
    padding: 0%;
    border-style: solid;
    border-color: black;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0; /* Adjust border-width for arrow size */
  display: inline-block;
  padding: 3px; /* Adjust padding for arrow size */
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#appearance1 .rs-range-color  {
    background-color: #5673E7;
}
#appearance1 .rs-path-color  {
    background-color: #dedede;
}
#appearance1 .rs-handle  {
    background-color: #000000;
}
#appearance1 .rs-border  {
    border-color: white;
}

.slider:hover{
    opacity: 1;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.settings-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-style: solid;
}

.setting {
    border-style: solid;
    margin: 3%;
    padding: 3%;
    text-align: left;
}
